/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 9, ../sass/screen.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 14, ../sass/screen.scss */
body {
  -webkit-overflow-scrolling: touch;
}

/* line 18, ../sass/screen.scss */
button {
  margin: 2em;
  padding: 1em;
  border: none;
  -moz-border-radius: 1em / 1em;
  -webkit-border-radius: 1em 1em;
  border-radius: 1em / 1em;
  font-size: 1em;
  color: white;
  background-color: black;
}
